target/

.mvn/
!/.mvn/wrapper/maven-wrapper.jar

**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.next
**/pom.xml.bak
**/pom.xml.asc
**/release.properties
**/dependency-reduced-pom.xml

.idea/
*.iml
.classpath
.project
.settings/

*.log
*.out
hs_err_pid*

/.vscode/
/.idea/
/*.iml

/*.pdf
/*.json

input/
output/